.books_page {
    padding: 20px;
    background-color: #f9f9f9;
    color: #333;
    border-radius: 3px;
}

.books_table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.books_table th,
.books_table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.books_table th {
    background-color: #1a73e8;
    color: white;
}

.books_table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.books_table tr:hover {
    background-color: #ddd;
}

.error {
    color: red;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 200px;
    margin: 50px auto;
    font-size: 1.5em;
    color: #ffffff;
    background-color: #007BFF;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    animation: pulse 1.5s infinite;
    text-align: center;
    padding: 20px;
}

@keyframes pulse {
    0% {
        opacity: 0.8;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0.8;
    }
}

.icon {
    font-size: 24px;
    cursor: pointer;
    margin: 0 5px;
    transition: transform 0.2s;
    color: inherit;
}

.icon:hover {
    transform: scale(1.2);
}