.header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
}

.nav {
    flex-grow: 1;
    text-align: right;
}

.nav_menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav_menu li {
    display: inline;
    margin-left: 20px;
}

.nav_menu li:first-child {
    margin-left: 0;
}

.nav_menu li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

/* Estilos para tornar o menu responsivo */
@media screen and (max-width: 768px) {
    .nav_menu {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: #333;
        width: 100%;
        text-align: center;
    }

    .nav_menu.active {
        display: block;
    }

    .nav_menu li {
        display: block;
        margin: 10px 0;
    }
}