.home p {
    font-size: 20px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(111, 0, 255);
    margin-bottom: 10px;
}

.home a {
    text-decoration: none;
}