.login_container {
    width: 400px;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: rgba(85, 84, 84, 0.6);
    text-align: center;
}

body,
html {
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
}

form div {
    margin-bottom: 20px;
}